.header {
    border-bottom: 1px solid #636363;
    
    &-main {
       background: #191a1a;
     
       padding: 20px;
    }
    &-nav {
        display: flex;
        justify-content: space-around;
    }
    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        
        & img {
            cursor: pointer;
            &:last-child {
                margin-left: 73px;
            }
            
        }
    }
   
}
svg {
    &:hover {
        fill: #191a1a;
    }
}